ctm-sf-homeloan-app/main/default/flows/HLA_Record_Trigger_Application_Expense_After_Upsert_Roll_Up.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Roll_up_application_expense</name>
        <label>Roll up application expense</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>RollupFlowBulkProcessor</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__oldRecordsToRollup</typeName>
            <typeValue>LoanApplicationExpense__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__recordsToRollup</typeName>
            <typeValue>LoanApplicationExpense__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>oldRecordsToRollup</name>
            <value>
                <elementReference>PriorRecords</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordsToRollup</name>
            <value>
                <elementReference>CurrentRecords</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupContext</name>
            <value>
                <stringValue>REFRESH</stringValue>
            </value>
        </inputParameters>
        <nameSegment>RollupFlowBulkProcessor</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_record_to_collection</name>
        <label>Add record to collection</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>CurrentRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriorRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Roll_up_application_expense</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>HLA: Record Trigger: Application Expense After Upsert Roll Up {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HLA: Record Trigger: Application Expense After Upsert Roll Up</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_record_to_collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationLiability__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>LoanApplicationExpense__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicationExpense__c</objectType>
    </variables>
    <variables>
        <name>PriorRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicationExpense__c</objectType>
    </variables>
</Flow>
