ctm-sf-homeloan-app/main/default/flows/HLA_Record_Trigger_RLA_After_Insert_Round_Robin_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>assign a CBA Specialist</description>
        <name>Round_Robin_Assign_CBA_Owner</name>
        <label>Round Robin Assign CBA Owner</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>FlowRoundRobinAssigner</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Re_query_Current_Record_for_New_OwnerId</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__recordsToRoundRobin</typeName>
            <typeValue>ResidentialLoanApplication__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__recordToRoundRobin</typeName>
            <typeValue>ResidentialLoanApplication__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queryIdField</name>
            <value>
                <stringValue>UserOrGroupId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queryToRetrieveAssignees</name>
            <value>
                <stringValue>SELECT UserOrGroupId FROM groupmember WHERE groupId In (SELECT Id FROM Group WHERE DeveloperName = &apos;CBA_Specialists&apos;)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordsToRoundRobin</name>
            <value>
                <elementReference>RLApplications</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>updateRecords</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>FlowRoundRobinAssigner</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Round_Robin_Assign_Owners</name>
        <label>Round Robin Assign Owners</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>FlowRoundRobinAssigner</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Re_query_Current_Record_for_New_OwnerId</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__recordsToRoundRobin</typeName>
            <typeValue>ResidentialLoanApplication__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__recordToRoundRobin</typeName>
            <typeValue>ResidentialLoanApplication__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>queryIdField</name>
            <value>
                <stringValue>UserOrGroupId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queryToRetrieveAssignees</name>
            <value>
                <stringValue>SELECT UserOrGroupId FROM groupmember WHERE groupId In (SELECT Id FROM Group WHERE Name = &apos;Brokers&apos;)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordsToRoundRobin</name>
            <value>
                <elementReference>RLApplications</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>updateRecords</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>FlowRoundRobinAssigner</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Current_Record_to_Collection</name>
        <label>Add Current Record to Collection</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>RLApplications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Round_Robin_Assign_Owners</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Record_to_CBA_Collection</name>
        <label>Add Record to CBA Collection</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>CBAApplications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Round_Robin_Assign_CBA_Owner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CBA_Product</name>
        <label>CBA Product?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Add_Current_Record_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not CBA</defaultConnectorLabel>
        <rules>
            <name>CBA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LenderName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commonwealth Bank</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Record_to_CBA_Collection</targetReference>
            </connector>
            <label>CBA</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>HLA-Record Trigger: RLA After Insert - Round Robin Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HLA-Record Trigger: RLA After Insert - Round Robin Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_User_Profile_Details</name>
        <label>Get User Profile Details</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Owner_Profile_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Re_query_Current_Record_for_New_OwnerId.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProfilePictureURL__c</queriedFields>
        <queriedFields>ProfileDescription__c</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Re_query_Current_Record_for_New_OwnerId</name>
        <label>Re-query Current Record for New OwnerId</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Profile_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Owner_Profile_Details</name>
        <label>Set Owner Profile Details</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>OwnerEmail__c</field>
            <value>
                <elementReference>Get_User_Profile_Details.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerFirstName__c</field>
            <value>
                <elementReference>Get_User_Profile_Details.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerLastName__c</field>
            <value>
                <elementReference>Get_User_Profile_Details.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerPhoneNumber__c</field>
            <value>
                <elementReference>Get_User_Profile_Details.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerProfileDescription__c</field>
            <value>
                <elementReference>Get_User_Profile_Details.ProfileDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerProfilePictureURL__c</field>
            <value>
                <elementReference>Get_User_Profile_Details.ProfilePictureURL__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CBA_Product</targetReference>
        </connector>
        <object>ResidentialLoanApplication__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>300</triggerOrder>
    <variables>
        <name>CBAApplications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ResidentialLoanApplication__c</objectType>
    </variables>
    <variables>
        <name>RLApplications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ResidentialLoanApplication__c</objectType>
    </variables>
</Flow>
