ctm-sf-homeloan-app/main/default/flows/HLA_PE_Trigger_Credit_Score_After_Insert_Credit_Score.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_CS_Change_Value_Unchanged</name>
        <label>Assign CS Change Value - Unchanged</label>
        <locationX>1018</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>CreditScoreChange</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unchanged</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Credit_Score_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CS_Change_Value_Up</name>
        <label>Assign CS Change Value - Up</label>
        <locationX>490</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>CreditScoreChange</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Up</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Credit_Score_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CS_Change_Value_Down</name>
        <label>CS Change Value - Down</label>
        <locationX>754</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>CreditScoreChange</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Down</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Credit_Score_Change</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Loan_Applicant</name>
        <label>Check Loan Applicant</label>
        <locationX>787</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Credit_Report_Journey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Credit_Score_created_via_Credit_Report_Journey.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Credit_Score_created_via_Credit_Report_Journey.LoanApplicant__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Related_to_Credit_Score</targetReference>
            </connector>
            <label>Credit Report Journey</label>
        </rules>
    </decisions>
    <decisions>
        <name>Compare_Credit_Score_Change</name>
        <label>Compare Credit Score Change</label>
        <locationX>754</locationX>
        <locationY>710</locationY>
        <defaultConnector>
            <targetReference>Assign_CS_Change_Value_Unchanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Score unchanged</defaultConnectorLabel>
        <rules>
            <name>Score_went_up</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Credit_Score_created_via_Credit_Report_Journey.CreditScore__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Account_Related_to_Credit_Score.CreditScore__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CS_Change_Value_Up</targetReference>
            </connector>
            <label>Score went up</label>
        </rules>
        <rules>
            <name>Score_came_down</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Credit_Score_created_via_Credit_Report_Journey.CreditScore__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Get_Account_Related_to_Credit_Score.CreditScore__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CS_Change_Value_Down</targetReference>
            </connector>
            <label>Score came down</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_this_Report_Date_already_been_Processed</name>
        <label>Has this Report Date already been Processed?</label>
        <locationX>534</locationX>
        <locationY>602</locationY>
        <defaultConnector>
            <targetReference>Compare_Credit_Score_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Needs Processing</defaultConnectorLabel>
        <rules>
            <name>Already_Processed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Credit_Score_created_via_Credit_Report_Journey.ReportDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Account_Related_to_Credit_Score.LatestCreditCheckDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Field_Credit_Score</targetReference>
            </connector>
            <label>Already Processed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_the_First_Credit_Score</name>
        <label>Is this the First Credit Score?</label>
        <locationX>292</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>Has_this_Report_Date_already_been_Processed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Recurring credit Score</defaultConnectorLabel>
        <rules>
            <name>First_Credit_Score</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Related_to_Credit_Score.OriginalCreditCheckDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Fields</targetReference>
            </connector>
            <label>First Credit Score</label>
        </rules>
    </decisions>
    <description>Removed Credit Score Email and removed seperate field assignment</description>
    <environments>Default</environments>
    <formulas>
        <name>CreditScoreName</name>
        <dataType>String</dataType>
        <expression>{!Get_Account_Related_to_Credit_Score.FirstName} + &apos; Credit Score &apos; + TEXT(DAY({!Get_Account_Related_to_Credit_Score.LatestCreditCheckDate__c})) + &apos;/&apos;+TEXT(Month({!Get_Account_Related_to_Credit_Score.LatestCreditCheckDate__c})) + &apos;/&apos;+TEXT(Year({!Get_Account_Related_to_Credit_Score.LatestCreditCheckDate__c}))</expression>
    </formulas>
    <interviewLabel>HLA: PE Trigger: Credit Score After Insert - Credit Score {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HLA: PE Trigger: Credit Score After Insert - Credit Score</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Related_to_Credit_Score</name>
        <label>Get Account Related to Credit Score</label>
        <locationX>292</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_this_the_First_Credit_Score</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Credit_Score_created_via_Credit_Report_Journey.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Credit_Score_created_via_Credit_Report_Journey</name>
        <label>Get Credit Score created via Credit Report Journey</label>
        <locationX>787</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Loan_Applicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreditId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CreditScore__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Field_Credit_Score</name>
        <label>Update Account Field Credit Score</label>
        <locationX>534</locationX>
        <locationY>1202</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Credit_Score_created_via_Credit_Report_Journey.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CreditScore__c</field>
            <value>
                <elementReference>Get_Credit_Score_created_via_Credit_Report_Journey.CreditScore__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LatestCreditCheckDate__c</field>
            <value>
                <elementReference>Get_Credit_Score_created_via_Credit_Report_Journey.ReportDate__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Fields</name>
        <label>Update Account Fields</label>
        <locationX>50</locationX>
        <locationY>602</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Credit_Score_created_via_Credit_Report_Journey.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CreditScoreID__c</field>
            <value>
                <elementReference>Get_Credit_Score_created_via_Credit_Report_Journey.CreditScoreId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreditScore__c</field>
            <value>
                <elementReference>Get_Credit_Score_created_via_Credit_Report_Journey.CreditScore__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LatestCreditCheckDate__c</field>
            <value>
                <elementReference>Get_Credit_Score_created_via_Credit_Report_Journey.ReportDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OriginalCreditCheckDate__c</field>
            <value>
                <elementReference>Get_Credit_Score_created_via_Credit_Report_Journey.ReportDate__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Credit_Score_Change</name>
        <label>Update Credit Score Change</label>
        <locationX>754</locationX>
        <locationY>1010</locationY>
        <connector>
            <targetReference>Update_Account_Field_Credit_Score</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Credit_Score_created_via_Credit_Report_Journey.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CreditScoreChange__c</field>
            <value>
                <elementReference>CreditScoreChange</elementReference>
            </value>
        </inputAssignments>
        <object>CreditScore__c</object>
    </recordUpdates>
    <start>
        <locationX>661</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Credit_Score_created_via_Credit_Report_Journey</targetReference>
        </connector>
        <object>HLA_AccountCreditScoreAfterUpdate__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CreditScoreChange</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreditScoreChangePicklist</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
