ctm-sf-homeloan-app/main/default/flows/HLA_Sub_Flow_Create_Application_and_Applicant_Asset_to_RLA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>External_Id_for_Applicants</name>
        <label>External Id for Applicants</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <actionName>HLA_Utils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Single_Loan_Applicant_Asset</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>HLA_Utils</nameSegment>
        <outputParameters>
            <assignToReference>applicantExternalId</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>External_Id_for_Application</name>
        <label>External Id for Application</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <actionName>HLA_Utils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_New_Application_Assets</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>HLA_Utils</nameSegment>
        <outputParameters>
            <assignToReference>applicationexternalId</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_applicant_for_Applicant_Asset_Collection</name>
        <label>Assign applicant for Applicant Asset Collection</label>
        <locationX>264</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>AssetRecordCollections</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleApplicantAsset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_create_applicant_asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Loan_Applicant_Asset</name>
        <label>Assign Single Loan Applicant Asset</label>
        <locationX>264</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>singleApplicantAsset.ResidentialLoanApplicationId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RLA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleApplicantAsset.LoanApplicant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_to_create_applicant_asset</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleApplicantAsset.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetApplicantNAme</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleApplicantAsset.Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>JoinorSingleOwnershipNumberValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleApplicantAsset.LoanApplicationAsset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleApplicantAsset.ExternalId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>applicantExternalId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleApplicantAsset.isDirty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_applicant_for_Applicant_Asset_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Applicants</name>
        <label>Count Applicants</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>CountNumberOfApplicants</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Applicants</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>External_Id_for_Application</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Applicants</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Applicants</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNextValueToReference>currentItem_Filter_Applicants</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>selectedApplicants</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Count_Applicants</targetReference>
        </connector>
        <formula>CONTAINS({!selectedApplicants},{!currentItem_Filter_Applicants})</formula>
    </collectionProcessors>
    <environments>Default</environments>
    <formulas>
        <name>isSecurityLoanFinancing</name>
        <dataType>Boolean</dataType>
        <expression>IF({!AssetType}=&apos;30&apos;, true, false)</expression>
    </formulas>
    <formulas>
        <name>JoinorSingleOwnershipNumberValue</name>
        <dataType>Number</dataType>
        <expression>IF({!CountNumberOfApplicants} &gt; 1,50, 100)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>JointorSingleOwnershipTextValue</name>
        <dataType>String</dataType>
        <expression>IF({!CountNumberOfApplicants} &gt; 1,&apos;50%&apos;, &apos;100%&apos;)</expression>
    </formulas>
    <interviewLabel>HLA: Screen Flow: Add Additional Loan Applicants Financials to RLA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HLA: Sub Flow: Create Application  and Applicant Asset to RLA</label>
    <loops>
        <name>Loop_to_create_applicant_asset</name>
        <label>Loop to create  applicant asset</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <collectionReference>Filter_Applicants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>External_Id_for_Applicants</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Creat_Loan_applicant_Asset</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Creat_Loan_applicant_Asset</name>
        <label>Create Loan applicant Asset</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <inputReference>AssetRecordCollections</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Application_Assets</name>
        <label>Create New Application Assets</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>AssetId</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_to_create_applicant_asset</targetReference>
        </connector>
        <inputAssignments>
            <field>AssetSavingsAndDepositsType__c</field>
            <value>
                <elementReference>AssetSavingsAndDepositsType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetSuperannuationType__c</field>
            <value>
                <elementReference>AssetSuperannuationType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetType__c</field>
            <value>
                <elementReference>AssetType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetVehicleType__c</field>
            <value>
                <elementReference>AssetVehicleTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommercialPropertyType__c</field>
            <value>
                <elementReference>commercialPropertyType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedValue__c</field>
            <value>
                <elementReference>AssetEstimatedValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExternalId__c</field>
            <value>
                <elementReference>applicationexternalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motorcycles__c</field>
            <value>
                <elementReference>MotorCycleMake</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AssetApplicationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ownership__c</field>
            <value>
                <elementReference>JointorSingleOwnershipTextValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PropertyAddress__City__s</field>
            <value>
                <elementReference>commercialSuburb</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PropertyAddress__CountryCode__s</field>
            <value>
                <elementReference>commercialCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PropertyAddress__PostalCode__s</field>
            <value>
                <elementReference>commercialPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PropertyAddress__StateCode__s</field>
            <value>
                <elementReference>commercialStateCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PropertyAddress__Street__s</field>
            <value>
                <elementReference>commercialStreetAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferenceId__c</field>
            <value>
                <elementReference>ReferenceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResidentialLoanApplication__c</field>
            <value>
                <elementReference>Get_RLA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle__c</field>
            <value>
                <elementReference>VehicleMake</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isDirty__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isSecurityForLoanFinancingIt__c</field>
            <value>
                <elementReference>isSecurityLoanFinancing</elementReference>
            </value>
        </inputAssignments>
        <object>LoanApplicationAsset__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_RLA</name>
        <label>Get RLA</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Applicants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RLA</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>applicantExternalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>applicationexternalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetApplicantNAme</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetApplicationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetEstimatedValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>AssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssetRecordCollections</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicantAsset__c</objectType>
    </variables>
    <variables>
        <name>AssetSavingsAndDepositsType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetSuperannuationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetVehicleTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>commercialCountryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>commercialPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>commercialPropertyType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>commercialStateCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>commercialStreetAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>commercialSuburb</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountNumberOfApplicants</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Filter_Applicants</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MotorCycleMake</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferenceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedApplicants</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singleApplicantAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicantAsset__c</objectType>
    </variables>
    <variables>
        <name>VehicleMake</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
