ctm-sf-homeloan-app/main/default/flows/HLA_PE_Trigger_Case_After_Insert_Assign_Case_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Account_Owner_to_Case_Owner</name>
        <label>Assign Account Owner to Case Owner</label>
        <locationX>50</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>Get_the_Newly_Created_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_Newly_Created_Case.Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Broker_Queue</name>
        <label>Assign Broker Queue</label>
        <locationX>314</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>Get_the_Newly_Created_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_home_loan_broker_queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Account_is_set</name>
        <label>Check if Account is set</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Newly_Created_Case.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_Newly_Created_Case.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_there_is_a_home_loan_application</targetReference>
            </connector>
            <label>Account is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_there_is_a_home_loan_application</name>
        <label>Check if there is a home loan application</label>
        <locationX>182</locationX>
        <locationY>386</locationY>
        <defaultConnector>
            <targetReference>Get_home_loan_broker_queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Home_loan_submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Newly_Created_Case.Account.HomeLoanApplication__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Owner_to_Case_Owner</targetReference>
            </connector>
            <label>Home loan submitted</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>HLA: PE Trigger: Case After Insert - Assign Case Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HLA: PE Trigger: Case After Insert - Assign Case Owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_home_loan_broker_queue</name>
        <label>Get home loan broker queue</label>
        <locationX>314</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Broker_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Home_Loan_Specialists</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Newly_Created_Case</name>
        <label>Get the Newly Created Case</label>
        <locationX>380</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Account_is_set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_case</name>
        <label>Update the case</label>
        <locationX>182</locationX>
        <locationY>794</locationY>
        <inputReference>Get_the_Newly_Created_Case</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_the_Newly_Created_Case</targetReference>
        </connector>
        <object>SFC_CaseAfterInsert__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
