ctm-sf-homeloan-app/main/default/flows/HLA_Record_Trigger_Loan_Product_After_Insert_Create_PRR_PlatformEvent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_PE_to_list</name>
        <label>Add PE to list</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>PlatformEventsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentPE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_Processed_RLA_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Platform_Event</name>
        <label>Create Platform Event</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>CurrentPE.ResidentialLoanApplication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_RLA_Ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_PE_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_RLA_ids</name>
        <label>Get RLA ids</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>ResidentialLoanAppIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.ResidentialLoanApplication__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_RLA_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Processed_RLA_Id</name>
        <label>Remove Processed RLA Id</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>ResidentialLoanAppIds</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Loop_through_RLA_Ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_RLA_Ids</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>HLA: Record Trigger Loan Product: After Insert- Create PRR PlatformEvent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HLA: Record Trigger Loan Product: After Insert- Create PRR PlatformEvent</label>
    <loops>
        <name>Loop_through_RLA_Ids</name>
        <label>Loop through RLA Ids</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>ResidentialLoanAppIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Platform_Event</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Product_Recommendations_Received_PlatEvt</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Product_Recommendations_Received_PlatEvt</name>
        <label>Product Recommendations Received PlatEvt</label>
        <locationX>176</locationX>
        <locationY>947</locationY>
        <inputReference>PlatformEventsToCreate</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RLA_ids</targetReference>
        </connector>
        <object>LoanApplicationProduct__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>current platform Event</description>
        <name>CurrentPE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HLA_ProductRecommendationsReceived__e</objectType>
    </variables>
    <variables>
        <description>current RLA Id</description>
        <name>CurrentRLAId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PlatformEventsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HLA_ProductRecommendationsReceived__e</objectType>
    </variables>
    <variables>
        <description>The list of Residential Loan Ids relate to the Loan Products</description>
        <name>ResidentialLoanAppIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
