ctm-sf-homeloan-app/main/default/flows/HLA_Sub_Flow_Create_Application_and_Applicant_Income_to_RLA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_applicant_External_Id</name>
        <label>Get applicant External Id</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <actionName>HLA_Utils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_single_Income_applicant</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>HLA_Utils</nameSegment>
        <outputParameters>
            <assignToReference>applicantExternalId</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_application_External_Id</name>
        <label>Get application External Id</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <actionName>HLA_Utils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Saving_Income</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>HLA_Utils</nameSegment>
        <outputParameters>
            <assignToReference>ApplicationExternalId</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_applicant_for_Applicant_Income_Collection</name>
        <label>Assign applicant for Applicant Income Collection</label>
        <locationX>264</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>IncomeRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleApplicantIncome</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_create_applicant_Income</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_single_Income_applicant</name>
        <label>Assign single Income applicant</label>
        <locationX>264</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>singleApplicantIncome.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IncomeApplicantName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleApplicantIncome.LoanApplicationIncome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IncomeRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleApplicantIncome.LoanApplicant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_to_create_applicant_Income</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleApplicantIncome.ResidentialLoanApplication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RLA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleApplicantIncome.Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>JoinorSingleOwnershipNumberValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleApplicantIncome.ExternalId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>applicantExternalId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleApplicantIncome.isDirty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_applicant_for_Applicant_Income_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Applicants</name>
        <label>Count Applicants</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>CountNumberOfApplicants</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Applicants</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_application_External_Id</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Applicants</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Applicants</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNextValueToReference>currentItem_Filter_Applicants</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>selectedApplicants</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Count_Applicants</targetReference>
        </connector>
        <formula>CONTAINS({!selectedApplicants},{!currentItem_Filter_Applicants})</formula>
    </collectionProcessors>
    <environments>Default</environments>
    <formulas>
        <name>JoinorSingleOwnershipNumberValue</name>
        <dataType>Number</dataType>
        <expression>IF({!CountNumberOfApplicants}&gt; 1,50, 100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>JointorSingleOwnershipTextValue</name>
        <dataType>String</dataType>
        <expression>IF({!CountNumberOfApplicants} &gt; 1,&apos;50%&apos;, &apos;100%&apos;)</expression>
    </formulas>
    <interviewLabel>HLA: Sub Flow: Create Application  and Applicant Income to RLA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HLA: Sub Flow: Create Application  and Applicant Income to RLA</label>
    <loops>
        <name>Loop_to_create_applicant_Income</name>
        <label>Loop to create applicant  Income</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <collectionReference>Filter_Applicants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_applicant_External_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Loan_Applicant_Income</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Loan_Applicant_Income</name>
        <label>Create Loan Applicant Income</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <inputReference>IncomeRecordCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Saving_Income</name>
        <label>Create Application Income</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>IncomeRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_to_create_applicant_Income</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExternalId__c</field>
            <value>
                <elementReference>ApplicationExternalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Frequency__c</field>
            <value>
                <elementReference>PreTaxFrequency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IncomeGovernmentBenefitsType__c</field>
            <value>
                <elementReference>incomeGovermentBenifitsType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IncomeMaintenanceChildSupportType__c</field>
            <value>
                <elementReference>maintenanceChildSupportType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IncomeOtherType__c</field>
            <value>
                <elementReference>otherincomeType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IncomeRentalType__c</field>
            <value>
                <elementReference>rentalIncomeType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IncomeRetirementType__c</field>
            <value>
                <elementReference>superIncomeType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoanApplicationAsset__c</field>
            <value>
                <elementReference>CreatedAssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>IncomeApplicationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferenceId__c</field>
            <value>
                <elementReference>ReferenceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResidentialLoanApplication__c</field>
            <value>
                <elementReference>Get_RLA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaxType__c</field>
            <value>
                <elementReference>taxType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isDirty__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>LoanApplicationIncome__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_RLA</name>
        <label>Get RLA</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Applicants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RLA</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Amount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>applicantExternalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApplicationExternalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountNumberOfApplicants</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CreatedAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_Applicants</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IncomeApplicantName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IncomeApplicationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>incomeGovermentBenifitsType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IncomeRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicantIncome__c</objectType>
    </variables>
    <variables>
        <name>IncomeRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>maintenanceChildSupportType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>otherincomeType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PreTaxFrequency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferenceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rentalIncomeType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedApplicants</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singleApplicantIncome</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicantIncome__c</objectType>
    </variables>
    <variables>
        <name>superIncomeType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taxType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
