ctm-sf-homeloan-app/main/default/flows/HLA_PE_Trigger_RLA_After_Insert_Update_Account_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Set_Account_OwnerId_to_RLA_OwnerId</name>
        <label>Set Account OwnerId to RLA OwnerId</label>
        <locationX>50</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>Get_related_Account_Records.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RLA_Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Home_Loan_Application_Already_Submitted</name>
        <label>Home Loan Application Already Submitted?</label>
        <locationX>182</locationX>
        <locationY>386</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Owner_to_RLA_Owner_Flag_HLA_to_true</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>This is the Submission</defaultConnectorLabel>
        <rules>
            <name>Already_Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_related_Account_Records.HomeLoanApplicationSubmissionDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_OwnerId_to_RLA_OwnerId</targetReference>
            </connector>
            <label>Already Submitted</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>HLA: PE Trigger: RLA After Insert - Update Account Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HLA: PE Trigger: RLA After Insert - Update Account Owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_related_Account_Records</name>
        <label>Get related Account Records</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Home_Loan_Application_Already_Submitted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RLA_Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_RLA_Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>HomeLoanApplicationSubmissionDate__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RLA_Record</name>
        <label>Get RLA Record</label>
        <locationX>182</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_related_Account_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>50</locationX>
        <locationY>602</locationY>
        <inputReference>Get_related_Account_Records</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Owner_to_RLA_Owner_Flag_HLA_to_true</name>
        <label>Update Account Owner to RLA Owner &amp; Flag HLA to true</label>
        <locationX>314</locationX>
        <locationY>494</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RLA_Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HomeLoanApplicationSubmissionDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomeLoanApplication__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_RLA_Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RLA_Record</targetReference>
        </connector>
        <object>HLA_RLAAfterInsert__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
