ctm-sf-homeloan-app/main/default/flows/HLA_PE_Trigger_Account_Update_Update_Credit_Score_Refresh.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_First_Credit_Score_EDM</name>
        <label>Send First Credit Score EDM</label>
        <locationX>50</locationX>
        <locationY>710</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_A_Credit_Score</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply.lending@comparethemarket.com.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Account_Record.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Credit_Score_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_CS_Change_Value_Down</name>
        <label>Assign CS Change Value - Down</label>
        <locationX>754</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>CreditScoreChange</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Down</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_A_Credit_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CS_Change_Value_Unchanged</name>
        <label>Assign CS Change Value - Unchanged</label>
        <locationX>1018</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>CreditScoreChange</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unchanged</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_A_Credit_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CS_Change_Value_Up</name>
        <label>Assign CS Change Value - Up</label>
        <locationX>490</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>CreditScoreChange</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Up</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_A_Credit_Score</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_its_the_first_credit_score</name>
        <label>Check if its the first credit score</label>
        <locationX>468</locationX>
        <locationY>386</locationY>
        <defaultConnector>
            <targetReference>Compare_Credit_Score_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Recurring Credit Score</defaultConnectorLabel>
        <rules>
            <name>First_Credit_Score</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Most_Recent_Credit_Score</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Credit_Score_Email_Template</targetReference>
            </connector>
            <label>First Credit Score</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_the_credit_score_template_exists</name>
        <label>Check if the credit score template exists</label>
        <locationX>182</locationX>
        <locationY>602</locationY>
        <defaultConnector>
            <targetReference>Create_A_Credit_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_the_template</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Credit_Score_Email_Template</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_First_Credit_Score_EDM</targetReference>
            </connector>
            <label>Found the template</label>
        </rules>
    </decisions>
    <decisions>
        <name>Compare_Credit_Score_Change</name>
        <label>Compare Credit Score Change</label>
        <locationX>754</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>Assign_CS_Change_Value_Unchanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Score unchanged</defaultConnectorLabel>
        <rules>
            <name>Score_went_up</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Record.CreditScore__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Most_Recent_Credit_Score.CreditScore__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CS_Change_Value_Up</targetReference>
            </connector>
            <label>Score went up</label>
        </rules>
        <rules>
            <name>Score_came_down</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Record.CreditScore__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Get_Most_Recent_Credit_Score.CreditScore__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CS_Change_Value_Down</targetReference>
            </connector>
            <label>Score came down</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CreditScoreName</name>
        <dataType>String</dataType>
        <expression>{!Get_Account_Record.FirstName} + &apos; Credit Score &apos; + TEXT(DAY({!Get_Account_Record.LatestCreditCheckDate__c})) + &apos;/&apos;+TEXT(Month({!Get_Account_Record.LatestCreditCheckDate__c})) + &apos;/&apos;+TEXT(Year({!Get_Account_Record.LatestCreditCheckDate__c}))</expression>
    </formulas>
    <interviewLabel>HLA: PE Trigger: Account Update Update - Credit Score Refresh {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HLA: PE Trigger: Account Update Update - Credit Score Refresh</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_A_Credit_Score</name>
        <label>Create A Credit Score</label>
        <locationX>468</locationX>
        <locationY>986</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BankruptcyActactions__c</field>
            <value>
                <elementReference>Get_Account_Record.BankruptcyActactions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commercialcreditdefaults__c</field>
            <value>
                <elementReference>Get_Account_Record.CommercialCreditDefaults__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commercialcreditenquiries__c</field>
            <value>
                <elementReference>Get_Account_Record.CommercialCreditEnquiries__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consumercreditaccounts__c</field>
            <value>
                <elementReference>Get_Account_Record.ConsumerCreditAccounts__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consumercreditdefaults__c</field>
            <value>
                <elementReference>Get_Account_Record.ConsumerCreditDefaults__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consumercreditenquiries__c</field>
            <value>
                <elementReference>Get_Account_Record.ConsumerCreditEnquiries__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Courtactions__c</field>
            <value>
                <elementReference>Get_Account_Record.CourtActions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreditScoreChange__c</field>
            <value>
                <elementReference>CreditScoreChange</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreditScore__c</field>
            <value>
                <elementReference>Get_Account_Record.CreditScore__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Creditfileaccessrecord__c</field>
            <value>
                <elementReference>Get_Account_Record.CreditFileAccessRecord__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CreditScoreName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReportDate__c</field>
            <value>
                <elementReference>Get_Account_Record.LatestCreditCheckDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seriouscreditinfringements__c</field>
            <value>
                <elementReference>Get_Account_Record.SeriousCreditInfringements__c</elementReference>
            </value>
        </inputAssignments>
        <object>CreditScore__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>468</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Most_Recent_Credit_Score</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Credit_Score_Email_Template</name>
        <label>Get Credit Score Email Template</label>
        <locationX>182</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_the_credit_score_template_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit_Score</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Most_Recent_Credit_Score</name>
        <label>Get Most Recent Credit Score</label>
        <locationX>468</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_its_the_first_credit_score</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LoanApplicant__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CreditScore__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>342</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
        <object>HLA_AccountCreditScoreAfterUpdate__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CreditScoreChange</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
