ctm-sf-homeloan-app/main/default/flows/HLA_PE_Trigger_Delete_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Check_the_Object_To_Retrieve_Data</name>
        <label>Check the Object To Retrieve Data</label>
        <locationX>710</locationX>
        <locationY>170</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Loan_Application_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ObjectName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LoanApplicationAsset__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Loan_Application_Asset</targetReference>
            </connector>
            <label>Loan Application Asset</label>
        </rules>
        <rules>
            <name>Loan_Application_Liability</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ObjectName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LoanApplicationLiability__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_LoanApplicationLiability</targetReference>
            </connector>
            <label>Loan Application Liability</label>
        </rules>
        <rules>
            <name>Loan_Application_Income</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ObjectName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LoanApplicationIncome__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Loan_Application_Income</targetReference>
            </connector>
            <label>Loan Application Income</label>
        </rules>
        <rules>
            <name>Loan_Application_Expense</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ObjectName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LoanApplicationExpense__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Loan_Application_Expense</targetReference>
            </connector>
            <label>Loan Application Expense</label>
        </rules>
        <rules>
            <name>Loan_Application_Document</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ObjectName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LoanApplicationDocument__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Loan_Application_Document</targetReference>
            </connector>
            <label>Loan Application Document</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>HLA PE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HLA: PE Trigger: Delete Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Application_record</name>
        <label>Delete Application record</label>
        <locationX>50</locationX>
        <locationY>386</locationY>
        <inputReference>Get_Loan_Application_Asset</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Document_record</name>
        <label>Delete Document record</label>
        <locationX>1106</locationX>
        <locationY>386</locationY>
        <inputReference>Get_Loan_Application_Document</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Expense_record</name>
        <label>Delete Expense record</label>
        <locationX>842</locationX>
        <locationY>386</locationY>
        <inputReference>Get_Loan_Application_Expense</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Income_record</name>
        <label>Delete Income record</label>
        <locationX>578</locationX>
        <locationY>386</locationY>
        <inputReference>Get_Loan_Application_Income</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Liability_Record</name>
        <label>Delete Liability Record</label>
        <locationX>314</locationX>
        <locationY>386</locationY>
        <inputReference>Get_LoanApplicationLiability</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Loan_Application_Asset</name>
        <label>Get Loan Application Asset</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Application_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.recordId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicationAsset__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Application_Document</name>
        <label>Get Loan Application Document</label>
        <locationX>1106</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Document_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.recordId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicationDocument__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Application_Expense</name>
        <label>Get Loan Application Expense</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Expense_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.recordId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicationExpense__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Application_Income</name>
        <label>Get Loan Application Income</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Income_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.recordId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicationIncome__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_LoanApplicationLiability</name>
        <label>Get LoanApplicationLiability</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Liability_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.recordId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicationLiability__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_the_Object_To_Retrieve_Data</targetReference>
        </connector>
        <object>HLA_DeleteRecord__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
