ctm-sf-homeloan-app/main/default/flows/HLA_Sub_Flow_Create_Application_and_Applicant_Liability_to_RLA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>get_applicant_external_ID</name>
        <label>get applicant external ID</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <actionName>HLA_Utils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_single_liability_applicant</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>HLA_Utils</nameSegment>
        <outputParameters>
            <assignToReference>ApplicantExternalId</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>get_application_external_ID</name>
        <label>get application external ID</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <actionName>HLA_Utils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Application_Liability</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>HLA_Utils</nameSegment>
        <outputParameters>
            <assignToReference>ApplicationExternalId</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_applicant_for_Applicant_Liability_Collection</name>
        <label>Assign applicant for Applicant Liability Collection</label>
        <locationX>264</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>LiabilityRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleApplicantLiability</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_create_applicant_Liability</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_single_liability_applicant</name>
        <label>Assign single liability applicant</label>
        <locationX>264</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>singleApplicantLiability.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LiabilityApplicantName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleApplicantLiability.LoanApplicationLiability__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LiabiltyId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleApplicantLiability.LoanApplicant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_to_create_applicant_Liability</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleApplicantLiability.ResidentialLoanApplicationId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RLA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleApplicantLiability.Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>JoinorSingleOwnershipNumberValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleApplicantLiability.ExternalId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApplicantExternalId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleApplicantLiability.isDirty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_applicant_for_Applicant_Liability_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Applicants</name>
        <label>Count Applicants</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>CountNumberOfApplicants</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Applicants</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_application_external_ID</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Applicants</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Applicants</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNextValueToReference>currentItem_Filter_Applicants</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>selectedApplicants</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Count_Applicants</targetReference>
        </connector>
        <formula>CONTAINS({!selectedApplicants},{!currentItem_Filter_Applicants})</formula>
    </collectionProcessors>
    <environments>Default</environments>
    <formulas>
        <name>JoinorSingleOwnershipNumberValue</name>
        <dataType>Number</dataType>
        <expression>IF({!CountNumberOfApplicants} &gt; 1,50, 100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>JointorSingleOwnershipTextValue</name>
        <dataType>String</dataType>
        <expression>IF({!CountNumberOfApplicants}&gt; 1,&apos;50%&apos;, &apos;100%&apos;)</expression>
    </formulas>
    <interviewLabel>HLA: Sub Flow: Create Application  and Applicant Liability to RLA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HLA: Sub Flow: Create Application  and Applicant Liability to RLA</label>
    <loops>
        <name>Loop_to_create_applicant_Liability</name>
        <label>Loop to create applicant Liability</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <collectionReference>Filter_Applicants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_applicant_external_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Loan_Applicant_Liability</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Application_Liability</name>
        <label>Create Application Liability</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>LiabiltyId</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_to_create_applicant_Liability</targetReference>
        </connector>
        <inputAssignments>
            <field>CreditLimit__c</field>
            <value>
                <elementReference>creditLimit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExternalId__c</field>
            <value>
                <elementReference>ApplicationExternalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InitialLoanAmount__c</field>
            <value>
                <elementReference>InitialLoanAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Institution__c</field>
            <value>
                <elementReference>FinancialCreditProvider</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InterestCapitalised__c</field>
            <value>
                <elementReference>isInterestCapitalised</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InterestRate__c</field>
            <value>
                <elementReference>InterestRate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoanApplicationAsset__c</field>
            <value>
                <elementReference>LookupAssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoanLimit__c</field>
            <value>
                <elementReference>LoanLimit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>LiabilityApplicationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OutstandingBalance__c</field>
            <value>
                <elementReference>OutstandingBalance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferenceId__c</field>
            <value>
                <elementReference>ReferenceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RepaymentAmount__c</field>
            <value>
                <elementReference>RepaymentAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResidentialLoanApplication__c</field>
            <value>
                <elementReference>Get_RLA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>LiabilityType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isDirty__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>LoanApplicationLiability__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Loan_Applicant_Liability</name>
        <label>Create Loan Applicant Liability</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <inputReference>LiabilityRecordCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_RLA</name>
        <label>Get RLA</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Applicants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RLA</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApplicantExternalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApplicationExternalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountNumberOfApplicants</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>creditLimit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>currentItem_Filter_Applicants</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinancialCreditProvider</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InitialLoanAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>InterestRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>isInterestCapitalised</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LiabilityApplicantName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LiabilityApplicationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LiabilityRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicantLiability__c</objectType>
    </variables>
    <variables>
        <name>LiabilityType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LiabiltyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoanLimit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>LookupAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OutstandingBalance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferenceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RepaymentAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>selectedApplicants</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singleApplicantLiability</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicantLiability__c</objectType>
    </variables>
</Flow>
