ctm-sf-homeloan-app/main/default/flows/HLA_Sub_Flow_Create_Application_and_Applicant_Expense_to_RLA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetApplicantExternalId</name>
        <label>GetApplicantExternalId</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <actionName>HLA_Utils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_single_expense_applicant</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>HLA_Utils</nameSegment>
        <outputParameters>
            <assignToReference>applicantExternalId</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>GetApplicationExternalId</name>
        <label>GetApplicationExternalId</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <actionName>HLA_Utils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Application_Expennse</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>HLA_Utils</nameSegment>
        <outputParameters>
            <assignToReference>applicationexternalId</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_applicant_for_Applicant_Expense_Collection</name>
        <label>Assign applicant for Applicant Expense Collection</label>
        <locationX>264</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ExpenseRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleApplicantExpense</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_create_applicant_Liability</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_single_expense_applicant</name>
        <label>Assign single expense applicant</label>
        <locationX>264</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>singleApplicantExpense.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpenseApplicantName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleApplicantExpense.ResidentialLoanApplication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RLA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleApplicantExpense.LoanApplicant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_to_create_applicant_Liability</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleApplicantExpense.Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>JoinorSingleOwnershipNumberValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleApplicantExpense.ExpenseType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpenseType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleApplicantExpense.ExpenseSubType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpenseDebtType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleApplicantExpense.LoanApplicationExpense__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpenseRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleApplicantExpense.Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RepaymentFrequency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleApplicantExpense.OutstandingAmt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OutstandingBalance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleApplicantExpense.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RepaymentAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleApplicantExpense.ExternalId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>applicantExternalId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleApplicantExpense.isDirty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_applicant_for_Applicant_Expense_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Applicants</name>
        <label>Count Applicants</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>countNumberApplicants</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Applicants</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetApplicationExternalId</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Applicants</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Applicants</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNextValueToReference>currentItem_Filter_Applicants</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>selectedApplicants</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Count_Applicants</targetReference>
        </connector>
        <formula>CONTAINS({!selectedApplicants},{!currentItem_Filter_Applicants})</formula>
    </collectionProcessors>
    <environments>Default</environments>
    <formulas>
        <name>JoinorSingleOwnershipNumberValue</name>
        <dataType>Number</dataType>
        <expression>IF({!countNumberApplicants}&gt; 1,50, 100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>JointorSingleOwnershipTextValue</name>
        <dataType>String</dataType>
        <expression>IF({!countNumberApplicants}&gt; 1,&apos;50%&apos;, &apos;100%&apos;)</expression>
    </formulas>
    <interviewLabel>HLA: Sub Flow: Create Application  and Applicant Expense to RLA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HLA: Sub Flow: Create Application  and Applicant Expense to RLA</label>
    <loops>
        <name>Loop_to_create_applicant_Liability</name>
        <label>Loop to create applicant Liability</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <collectionReference>Filter_Applicants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetApplicantExternalId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Applicant_Expenses</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Applicant_Expenses</name>
        <label>Create Applicant Expenses</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <inputReference>ExpenseRecordCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Application_Expennse</name>
        <label>Create Application Expennse</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>ExpenseRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_to_create_applicant_Liability</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>RepaymentAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpenseDebtType__c</field>
            <value>
                <elementReference>ExpenseDebtType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpenseType__c</field>
            <value>
                <elementReference>ExpenseType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExternalId__c</field>
            <value>
                <elementReference>applicationexternalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Frequency__c</field>
            <value>
                <elementReference>RepaymentFrequency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoanApplicationLiability__c</field>
            <value>
                <elementReference>LookupLiabilityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ExpenseApplicationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferenceId__c</field>
            <value>
                <elementReference>ReferenceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResidentialLoanApplication__c</field>
            <value>
                <elementReference>Get_RLA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isDirty__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>LoanApplicationExpense__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_RLA</name>
        <label>Get RLA</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Applicants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RLA</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>applicantExternalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>applicationexternalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>countNumberApplicants</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Filter_Applicants</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExpenseApplicantName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExpenseApplicationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExpenseDebtType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExpenseRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicantExpense__c</objectType>
    </variables>
    <variables>
        <name>ExpenseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExpenseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LookupLiabilityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OutstandingBalance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferenceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RepaymentAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>RepaymentFrequency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedApplicants</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singleApplicantExpense</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicantExpense__c</objectType>
    </variables>
</Flow>
