ctm-sf-homeloan-app/main/default/flows/HLA_Loan_Applicant_Liability_After_Upsert_Rollup_Ownership.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Process_Deferred_Rollups</name>
        <label>Process Deferred Rollups</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <actionName>RollupFlowBulkSaver</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>RollupFlowBulkSaver</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Rollup_Ownership</name>
        <label>Rollup Ownership</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>RollupFlowBulkProcessor</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Process_Deferred_Rollups</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__oldRecordsToRollup</typeName>
            <typeValue>LoanApplicantLiability__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__recordsToRollup</typeName>
            <typeValue>LoanApplicantLiability__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>oldRecordsToRollup</name>
            <value>
                <elementReference>PriorRecords</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordsToRollup</name>
            <value>
                <elementReference>CurrentRecords</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupContext</name>
            <value>
                <stringValue>UPSERT</stringValue>
            </value>
        </inputParameters>
        <nameSegment>RollupFlowBulkProcessor</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_liability_to_Collection</name>
        <label>Add liability to Collection</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>CurrentRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriorRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rollup_Ownership</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>HLA: Loan Applicant Liability-After Upsert-Rollup Ownership {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HLA: Loan Applicant Liability-After Upsert-Rollup Ownership</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_liability_to_Collection</targetReference>
        </connector>
        <filterFormula>AND(
   NOT(ISBLANK({!$Record.LoanApplicant__c} )),
 NOT(ISBLANK({!$Record.Percentage__c} )),
   OR(
      ISNEW(),
      ISCHANGED({!$Record.LoanApplicant__c}),
  ISCHANGED({!$Record.Percentage__c})

   )
)</filterFormula>
        <object>LoanApplicantLiability__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicantLiability__c</objectType>
    </variables>
    <variables>
        <name>PriorRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanApplicantLiability__c</objectType>
    </variables>
</Flow>
