ctm-sf-homeloan-app/main/default/flows/HLA_Screen_Flow_Add_Additional_RLA_Documents.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <choices>
        <name>Asset</name>
        <choiceText>Asset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Asset</stringValue>
        </value>
    </choices>
    <description>Deleted Reference Type</description>
    <dynamicChoiceSets>
        <name>CategoryPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category__c</picklistField>
        <picklistObject>LoanApplicationDocument__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DocumentStatusPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>LoanApplicationDocument__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DocumentTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>DocumentType__c</picklistField>
        <picklistObject>LoanApplicationDocument__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReferenceTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>referenceType__c</picklistField>
        <picklistObject>LoanApplicationDocument__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>uuid for middleware</description>
        <name>RandomId</name>
        <dataType>String</dataType>
        <expression>text(now())</expression>
    </formulas>
    <interviewLabel>HLA: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HLA: Screen Flow: Add Additional RLA Documents</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Loan_Application_Document</name>
        <label>Create Loan Application Document</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExternalId__c</field>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Loan_Application_Document_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Residential_Loan_Application.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResidentialLoanApplication__c</field>
            <value>
                <elementReference>Get_Residential_Loan_Application.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>511</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isDirty__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>LoanApplicationDocument__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Residential_Loan_Application</name>
        <label>Get Residential Loan Application</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Loan_Application_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Add_Loan_Application_Document</name>
        <label>Add Loan Application Document</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Loan_Application_Document</targetReference>
        </connector>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Please complete this form to include an additional document&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_Loan_Application_Document_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Loan_Application_Document_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Display_RLA</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(44, 44, 44); font-size: 14px;&quot;&gt;Application: &lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 104, 231); font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;color: rgb(78, 104, 231); font-size: 14px;&quot;&gt;&lt;em&gt;{!Get_Residential_Loan_Application.Name}&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_Loan_Application_Document_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Loan_Application_Document_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Loan_Application_Document_Name</name>
            <dataType>String</dataType>
            <fieldText>Loan Application Document Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Category</name>
            <choiceReferences>CategoryPicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>504</stringValue>
            </defaultValue>
            <fieldText>Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Residential_Loan_Application</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
