ctm-sf-homeloan-app/main/default/flows/HLA_Loan_Cost_After_Upsert_Rollup_Loan_Cost_Amount_To_RLA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Rollup_Loan_Costs</name>
        <label>Rollup Loan Costs</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>RollupFlowBulkProcessor</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__oldRecordsToRollup</typeName>
            <typeValue>LoanCost__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__recordsToRollup</typeName>
            <typeValue>LoanCost__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>deferProcessing</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oldRecordsToRollup</name>
            <value>
                <elementReference>PriorRecords</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordsToRollup</name>
            <value>
                <elementReference>CurrentRecords</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rollupContext</name>
            <value>
                <stringValue>REFRESH</stringValue>
            </value>
        </inputParameters>
        <nameSegment>RollupFlowBulkProcessor</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_record_to_Collection</name>
        <label>Add record to Collection</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>CurrentRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriorRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rollup_Loan_Costs</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>HLA: Loan Cost: After Upsert - Rollup Loan Cost Amount To RLA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HLA: Loan Cost: After Upsert - Rollup Loan Cost Amount To RLA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_record_to_Collection</targetReference>
        </connector>
        <filterFormula>AND(
   NOT(ISBLANK({!$Record.ResidentialLoanApplication__c} )),
   OR(
      ISNEW(),
      ISCHANGED({!$Record.Amount__c})
   )
)</filterFormula>
        <object>LoanCost__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanCost__c</objectType>
    </variables>
    <variables>
        <name>PriorRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LoanCost__c</objectType>
    </variables>
</Flow>
