ctm-sf-homeloan-app/main/default/flows/HLA_Record_trigger_RLA_After_Insert_Task_List_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_New_Purchase_Task_to_List</name>
        <label>Assign New Purchase Task to List</label>
        <locationX>3720</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>taskListToBeCreated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Purchase_Task_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_to_List</name>
        <label>Assign Task to List</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>taskListToBeCreated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Refinance_Task_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Planning_Task</name>
        <label>Create Planning Task</label>
        <locationX>3654</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>currentTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculatedDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTask.LoanTrackingOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Purchase_Task_List.Seq_Newplanning__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Purchase_Task_List.Priority__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Purchase_Task_List.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Purchase_Task_List.Subject__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Purchase_Task_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Refi_Task</name>
        <label>Create Refi Task</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>currentTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculatedDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTask.LoanTrackingOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Refinance_Task_List.Seq_Refi__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Refinance_Task_List.Priority__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Refinance_Task_List.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Refinance_Task_List.Subject__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Task_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Researching_Task</name>
        <label>Create Researching Task</label>
        <locationX>2598</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>currentTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculatedDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTask.LoanTrackingOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Purchase_Task_List.Seq_NewResearch__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Purchase_Task_List.Priority__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Purchase_Task_List.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Purchase_Task_List.Subject__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Purchase_Task_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Signed_Task</name>
        <label>Create Signed Task</label>
        <locationX>4182</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>currentTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculatedDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTask.LoanTrackingOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Purchase_Task_List.Seq_NewSigned__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Purchase_Task_List.Priority__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Purchase_Task_List.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Purchase_Task_List.Subject__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Purchase_Task_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Thinking_Task</name>
        <label>Create Thinking Task</label>
        <locationX>3126</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>currentTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculatedDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTask.LoanTrackingOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Purchase_Task_List.Seq_NewThinking__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Purchase_Task_List.Priority__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Purchase_Task_List.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Purchase_Task_List.Subject__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Purchase_Task_to_List</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>sort_by_loan_tracking_number</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>sort by loan tracking number</label>
        <locationX>1324</locationX>
        <locationY>1415</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>taskListToBeCreated</collectionReference>
        <connector>
            <targetReference>Insert_TasklList</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>LoanTrackingOrder__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Application_Stage</name>
        <label>Application Stage</label>
        <locationX>3720</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>New_Purchase_Task_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Open House</defaultConnectorLabel>
        <rules>
            <name>Researching</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STILL_RESEARCHING</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Researching_Sequence_Number</targetReference>
            </connector>
            <label>Researching</label>
        </rules>
        <rules>
            <name>Thinking_Of_Making_An_Offer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>THINKING_MAKING_OFFER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Thinking_Sequence_Number</targetReference>
            </connector>
            <label>Thinking Of Making An Offer</label>
        </rules>
        <rules>
            <name>Planning_To_Bid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PLANNING_AUCTION_BID</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Planning_Sequence_Number</targetReference>
            </connector>
            <label>Planning To Bid</label>
        </rules>
        <rules>
            <name>Contract_Signed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SIGNED_PURCHASE_CONTRACT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Signed_Sequence_Number</targetReference>
            </connector>
            <label>Contract Signed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Refi_Sequence_Number</name>
        <label>Has Refi Sequence Number?</label>
        <locationX>270</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Refinance_Task_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Sequence number</defaultConnectorLabel>
        <rules>
            <name>Refi_Sequense_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Refinance_Task_List.Seq_Refi__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Refi_Task</targetReference>
            </connector>
            <label>Refi Sequense found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loan_Purpose</name>
        <label>Loan Purpose?</label>
        <locationX>1324</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Refinance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LoanPurpose__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Refinance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Refinance_Task_List</targetReference>
            </connector>
            <label>Refinance</label>
        </rules>
        <rules>
            <name>New_Purchase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LoanPurpose__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Purchase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Purchase_Task_List</targetReference>
            </connector>
            <label>New Purchase</label>
        </rules>
    </decisions>
    <decisions>
        <name>Planning_Sequence_Number</name>
        <label>Planning Sequence Number</label>
        <locationX>3786</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>New_Purchase_Task_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Planning Seq</defaultConnectorLabel>
        <rules>
            <name>Planning_Seq_Num</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Purchase_Task_List.Seq_Newplanning__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Planning_Task</targetReference>
            </connector>
            <label>Planning Seq Num</label>
        </rules>
    </decisions>
    <decisions>
        <name>Researching_Sequence_Number</name>
        <label>Researching Sequence Number</label>
        <locationX>2730</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>New_Purchase_Task_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Res Seq</defaultConnectorLabel>
        <rules>
            <name>Has_Research_Seq_Num</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Purchase_Task_List.Seq_NewResearch__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Researching_Task</targetReference>
            </connector>
            <label>Has Research Seq Num</label>
        </rules>
    </decisions>
    <decisions>
        <name>Signed_Sequence_Number</name>
        <label>Signed Sequence Number</label>
        <locationX>4314</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>New_Purchase_Task_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Signed Seq</defaultConnectorLabel>
        <rules>
            <name>Signed_Seq_Num</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Purchase_Task_List.Seq_NewSigned__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Signed_Task</targetReference>
            </connector>
            <label>Signed Seq Num</label>
        </rules>
    </decisions>
    <decisions>
        <name>Thinking_Sequence_Number</name>
        <label>Thinking Sequence Number</label>
        <locationX>3258</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>New_Purchase_Task_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Thinking Seq</defaultConnectorLabel>
        <rules>
            <name>Has_Thinking_Seq_Num</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Purchase_Task_List.Seq_NewThinking__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Thinking_Task</targetReference>
            </connector>
            <label>Has Thinking Seq Num</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Due Date to use for each task</description>
        <name>CalculatedDueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+{!Refinance_Task_List.DueDateOffsetDays__c}</expression>
    </formulas>
    <interviewLabel>HLA-Record trigger: RLA After Insert - Task List Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HLA-Record trigger: RLA After Insert - Task List Automation</label>
    <loops>
        <name>New_Purchase_Task_List</name>
        <label>New Purchase Task List</label>
        <locationX>2510</locationX>
        <locationY>539</locationY>
        <collectionReference>Task_List_Metadata</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Application_Stage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>sort_by_loan_tracking_number</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Refinance_Task_List</name>
        <label>Refinance Task List</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Task_List_Metadata</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Has_Refi_Sequence_Number</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>sort_by_loan_tracking_number</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_TasklList</name>
        <label>Insert TasklList</label>
        <locationX>1324</locationX>
        <locationY>1523</locationY>
        <inputReference>taskListToBeCreated</inputReference>
    </recordCreates>
    <recordLookups>
        <description>get the Task List custom metadata to loop through and create</description>
        <name>Task_List_Metadata</name>
        <label>Task List Metadata</label>
        <locationX>1324</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loan_Purpose</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>HLA_TaskListAutomation__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1198</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Task_List_Metadata</targetReference>
        </connector>
        <object>ResidentialLoanApplication__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>600</triggerOrder>
    <variables>
        <name>currentTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>List of the task Ids that have been created</description>
        <name>ListOfTaskIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskListToBeCreated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
