ctm-sf-homeloan-app/main/default/flows/Record_Trigger_Task_Before_Handler_Call_Information.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <description>Update a Tasks related call information before insert/update</description>
    <environments>Default</environments>
    <interviewLabel>Record Trigger: Task-Before Handler-Set {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger: Task-Before Handler-Call Information</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the Related Person Account based on CustomerId</description>
        <name>Get_the_Related_Person_Account_based_on_CustomerId</name>
        <label>Get the Related Person Account based on CustomerId</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Whoid_to_Person_Account_ContactId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomerId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParticipantCustomerId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId__c</queriedFields>
        <queriedFields>CustomerId__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Whoid_to_Person_Account_ContactId</name>
        <label>Set Whoid to Person Account ContactId</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParticipantCustomerId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_Related_Person_Account_based_on_CustomerId.CustomerId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_the_Related_Person_Account_based_on_CustomerId.ContactId__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_the_Related_Person_Account_based_on_CustomerId</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParticipantCustomerId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>QueueName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Digital Lending - Web Messenger</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
