ctm-sf-homeloan-app/main/default/flows/SubFlow_Clone_Loan_Calculator_Config.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>AssignRecordVariables</name>
        <label>AssignRecordVariables</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Get_Loan_Calculator_Config.Versioning__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ModifyConfigVersioning</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Loan_Calculator_Config.CreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Loan_Calculator_Config.CreatedById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Loan_Calculator_Config.LastModifiedById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Loan_Calculator_Config.LastModifiedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Loan_Calculator_Config</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>ModifyConfigVersioning</name>
        <dataType>Number</dataType>
        <expression>{!Get_Loan_Calculator_Config.Versioning__c} + 0.1</expression>
        <scale>1</scale>
    </formulas>
    <interviewLabel>SubFlow: Clone Loan Calculator Config {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SubFlow: Clone Loan Calculator Config</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Loan_Calculator_Config</name>
        <label>Create New Loan Calculator Config</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <inputReference>Get_Loan_Calculator_Config</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Loan_Calculator_Config</name>
        <label>Get Loan Calculator Config</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignRecordVariables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanCalculatorConfiguration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Loan_Calculator_Config</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
